body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin: 20px 0;
}

.light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td {
    padding: 8px;
}

p {
    color: #555;
}
